
:css
  .content{margin: 10px 0px 0px 0px; padding: 0;}      
  span.title{ position: relative; top:10px; color:white;}
  img.back { position: relative; left: 6px; height: 20px; float: left; margin: 10px;}
  ul,ol,li {list-style:none;}
  li{background-color: #fff; border-bottom: 1px solid #dadada; height: 40px; display:block; padding-top:8px;}
  li span {margin: 0px 4px 0px 4px; padding-top: 8px;}
  span.arrow-r {width: 16px; height: 10px; float: right; background: url(http://m.pingan.com/chaoshi/common/images/arrow_right.png) no-repeat;background-size: 6px; display:inline-block; margin: 4px 0px;}
  .item{margin: 4px; display:block; line-height:24px;}
  a{color:#666666;}
  a:link { text-decoration: none;  color:#666666;}
  .line{width:100%; height:1px; background-color:#c5c5c5;}

.content  
  %ul
    %li     
      %a.item{href:"/wap/insure/pingan"}
        %span 平安        
        %span.arrow-r
    %li 
      %a.item{href:"/wap/insure/picc"}
        %span 人保        
        %span.arrow-r  

    %li 
      %a.item{href:"/wap/insure/cpic"}
        %span 太平洋        
        %span.arrow-r  

    %li 
      %a.item{href:"/wap/insure/huaan"}
        %span 华安        
        %span.arrow-r            


