<%=javascript_include_tag "wap/#{controller_name}"%>
		<div class="pd0">
			<div class="list_active">
				<%=render partial: "partials/activity_record",locals: {activities:@activities}%>
			</div>
		</div>