.dizi1
  %ul
    %li
      %span 收货人
      %p
        %input.input_2{:name => "consignee", :placeholder => "请输入收货人姓名", :type => "text"}/
    %li
      %span 手机号码
      %p
        %input.input_2{:name => "mobile", :placeholder => "请输入手机号码", :type => "text"}/
    %li
      %span 邮政编码
      %p
        %input.input_2{:name => "zipcode", :placeholder => "请输入邮政编码", :type => "text"}/
    %li
      %span 所在地区
      %p
        %select#province{:name => "province", :style => "width: 20%;"}
          %option{:selected => "selected", :value => "-1"} 选择省份
          - provinces = ChinaCity.list 
          - provinces.each do |p|
            %option{:value => "#{p.code}"}= p.name

        %select#city{:name => "city", :style => "width: 20%;"}
          %option{:value => "-1"} 选择城市
        %select#district{:name => "dist", :style => "width: 20%;"}
          %option{:value => "-1"} 选择地区
    %li
      %span 详细地址
      %p
        %input.input_2{:name => "street", :placeholder => "请输入详细地址", :type => "text"}
  .mar15
    %input.btnBlue{:type => "button", :value => "添加收货地址", :onclick => "submit_add()"}

:javascript
  function submit_add() {

    if (checkMobile ($("input[name='mobile']").val()) == false){
      hd_alert("手机号码不正确");
      return;
    }

    $.post("/api/user_address.json", {
      "consignee": $("input[name='consignee']").val(),
      "mobile": $("input[name='mobile']").val(),
      "zipcode": $("input[name='zipcode']").val(),
      "province": $("#province").val(),
      "city": $("#city").val(),
      "dist": $("#district").val(),
      "street": $("input[name='street']").val()
    }, 
    function(data) {
      if (data.result_code == 1) {
        location.href = data.url;
        
      } else {
        hd_alert(data.error_message);
        return false;
      }
    });
  }

=javascript_include_tag "wap/#{controller_name}"
