.xiu
  %ul
    %li
      %p 请输入新密码
      %input.input_1{:name => "password", :type => "password"}
    %li
      %p 请再次输入新密码
      %input.input_1{:name => "password1", :type => "password"}
      %p  
    %li
      %input.btnBlue{:onclick => "dosubmit();", :type => "button", :value => "下一步"}

:javascript
  function dosubmit(){
    var pwd =  $("input[name='password']").val();
    var pwd2 = $("input[name='password1']").val();

    if ( pwd.valueOf() != pwd2.valueOf() ){
      hd_alert("两次密码不同");
      return;
    }

    $.ajax({
      url:  "/api/user/#{@current_user.id}",
      type: 'put',
      success: function(data){
        hd_alert("保存成功");
        location.href = '/wap/user';
      },
      error: function(data){
        hd_alert(data.error_message);
      },
      data:{ password: pwd}
    });
  }